test_not_in_git/
__pycache__/
/.vscode/
/SWE/.vscode/
/exact_riemann_solver/.vscode/
/SWE/sample_exact_solution/.vscode/
/SWE/output/exact_solutions/*
/SWE/output/godunov_upwind_results/*
/SWE/output/lax_friedrich_results/*
/SWE/output/tvd_waf_results/*
!/SWE/output/exact_solutions/.gitkeep
!/SWE/output/godunov_upwind_results/.gitkeep
!/SWE/output/lax_friedrich_results/.gitkeep
!/SWE/output/tvd_waf_results/.gitkeep
/SWE/output/speed_and_accuracy/godunov_upwind/exact/*
/SWE/output/speed_and_accuracy/godunov_upwind/hllc/*
/SWE/output/speed_and_accuracy/lax_friedrich/*
/SWE/output/speed_and_accuracy/tvd_waf/exact/*
/SWE/output/speed_and_accuracy/tvd_waf/hllc/*
!/SWE/output/speed_and_accuracy/godunov_upwind/exact/.gitkeep
!/SWE/output/speed_and_accuracy/godunov_upwind/hllc/.gitkeep
!/SWE/output/speed_and_accuracy/lax_friedrich/.gitkeep
!/SWE/output/speed_and_accuracy/tvd_waf/exact/.gitkeep
!/SWE/output/speed_and_accuracy/tvd_waf/hllc/.gitkeep
/SWE/data_driven/generated_data/*
!/SWE/data_driven/generated_data/.gitkeep
.pytest_cache/
